<div class="container"
  <div class="row">
    <div class="column text-background">
<h3>Centrally located, we are here to meet your needs!</h3>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9217.693440797952!2d-73.999554973537!3d40.71235847172648!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x94e0de1eea25cda7!2sNew+York+Code+%2B+Design+Academy!5e0!3m2!1sen!2sus!4v1544065553853" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<h3>90 John St<br>
    New York, NY 10038<br>
    1-800-GOT-CAKE</h3>

  </div>
  </div>
  </div>
