
<div class="container"
  <div class="row">
    <div class="column text-background">
      <h2>Cookies</h2>
      <h4>How do you make a baby computer cry?<br>
        Delete his cookies!</h4>
  <%COOKIES.each do |cookie|%>
  <p><%=cookie.name%></p>
  <img class="item-image" src=<%=cookie.image%>>
  <p><%=cookie.description%></p>
  <p><%=cookie.price%></p>
  <hr>
  <%end%>
</div>
</div>
</div>
