
    <div class="container"
      <div class="row">
        <div class="column logo-text"><h1>Cupcakes & Things</h1></div>
      </div>
      <div class="row">
        <div class="column text-background"><h2>Welcome to our bakery</h2></div>
      </div>
    </div>
