<!-- <video autoplay muted loop id="myVideo">
  <source src="/images/background-video.mp4" type="video/mp4">
</video> -->


    <div class="container"
      <div class="row">
        <div class="column logo-text"><h1>Cupcakes & Things</h1></div>
      </div>
      <div class="row">
        <div class="column text-background"><h2>Welcome to our bakery</h2></div>
      </div>
    </div>
