<!-- <video autoplay muted loop id="myVideo">
  <source src="/images/background-video.mp4" type="video/mp4">
</video> -->


    <div class="container"
      <div class="row">
        <div class="column logo-text">
          <h1>Cupcakes & Things</h1>
          <h3>Welcome to our bakery.</h3><br><h3> Established in '77, we have been bringing you amazing treats to fatten you and your friends up.</h3>
        </div>
      </div>
    </div>
