<!-- <video autoplay muted loop id="myVideo">
  <source src="/images/background-video.mp4" type="video/mp4">
</video> -->


    <div class="container"
      <div class="row">
        <div class="column logo-text">
          <h1>Cupcakes & Things</h1>
          <h2>Welcome to our bakery.</h2><br><h2> Established in '77, we have been bring you amazing treats to fatten you and your friends up.</h2>
        </div>
      </div>
    </div>

      <!-- <div class="row">
        <div class="column logo-text"><h2>Welcome to our bakery. Esta
        blished in '77, we have been bring you amazing treats to fatten you and your friends up.</h2></div>
      </div> -->
    </div>
