<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cupcakes & Things</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <link href="https://unpkg.com/lemoncss/dist/lemon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
  <nav class="topnav">
      <ul>
        <li><a href="/cake" class=active>Cake</a></li>
        <li><a href="/cookie" class=active>Cookies</a></li>
        <li><a href="/" class=active><img id="logo-pic" src="images/logo.png"></a></li>
        <li><a href="/cupcake" class=active>Cupcakes</a></li>
        <li><a href="/about" class=active>About Us</a></li>
      </ul>
  </nav>


  <%= yield %>


<footer class="footernav">
  <div class="row">
    <div class="column">
      <ul>
        <li><a href="http://www.twitter.com" target="_blank"><img src="images/twitter2.png"></a></li>
        <li><a href="http://www.pinterest.com" target="_blank"><img src="images/pinterest2.png"></a></li>
        <li><a href="http://www.instagram" target="_blank"><img src="images/instagram2.png"></a></li>
        <li><a href="http://www.facebook.com" target="_blank"><img src="images/facebook2.png"></a></li>
        <li><a href="http://www.etsy.com" target="_blank"><img src="images/etsy2.png"></a></li>
      </ul>
    </div>
    <div class="column"></div>
    <div class="column">
      <form action="/" method="post">
        <label id="boxstyle" for="name">Subscribe to our newsletter</label>
        <input type="text" placeholder="Enter Your Email" name="email" id="email">
        <input type="submit" name="Submit" value="Submit">
        </form>
        <img scr="images/facebook.png">
    </div>
  </div>
  </footer>
</body>
</html>
