body {
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("images/main_page.jpeg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Gloria Hallelujah', cursive;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.topnav {
    position: fixed;
    background-color: #333;
    width: 100%;
    text-align: center;
}

.topnav a {
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
}

.topnav li {
  display: inline;

}

#logo-pic {
  height: 60px;
  width: auto;
  padding-top: 10px;
}

.container {
  padding-top: 200px;
  text-align: center;
  min-height: 90vh;

}

.text-background {
  background-color: white;
  width: 100%;
}

.item-image {
  height: 300px;
  width: auto;
}

.logo-text h1 {
  font-size: 120px;
  color: orange;
  text-shadow: 2px 2px black;
}

.logo-text h2 {
  font-size: 70px;
  color: orange;
  text-shadow: 2px 2px black;
}

.footernav {
    position: static;
    background-color: #333;
    width: 100%;
}

.footernav ul, a {
  color: orange;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;

}

.footernav li {
  display: inline;

}

#boxstyle {
  color: orange;
  text-align: left;

}

input {
  background-color: white;
}

#email{
  background-color: white;
  width: 50%;
}
