<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Thanks for signing up!</title>
  </head>
  <body>
    <h1>We appreciate you joining our newsletter.</h1>
    <p>Heres a list of everything that we offer.  Let us know if you don't see something you'd like.  We can always custom make something for you.</p>
    <ul>
      <li>Cookies</li>
        <ul>
          <li>Eggnog Cookie</li>
          <li>Chocolate Chip Cookie</li>
          <li>Cookie Dough Cheesecake Bar</li>
          <li>Hazelnut Cookie</li>
        </ul>
      <li>Cakes</li>
        <ul>
          <li>Almond Cake</li>
          <li>Black Forest Cake</li>
          <li>Chocolate Raspberry Mousse Cake</li>
          <li>Red Velvet Cake</li>
        </ul>
      <li>Cupcakes</li>
        <ul>
          <li>Banana Split Cupcake</li>
          <li>Unicorn Cupcake</li>
          <li>Vegan Cupcake</li>
          <li>Pumpkin Spice Cupcake</li>
        </ul>
    </ul>
  </body>
</html>
